@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* To jest poza warstwą base */
.dark {
  --tw-prose-body: #ffffff;
  --tw-prose-headings: #ffffff;
  --tw-prose-links: #3b82f6;
  --tw-prose-bold: #ffffff;
  --tw-prose-counters: #ffffff;
  --tw-prose-bullets: #ffffff;
  --tw-prose-hr: #ffffff;
  --tw-prose-quotes: #ffffff;
  --tw-prose-quote-borders: #ffffff;
  --tw-prose-captions: #ffffff;
  --tw-prose-code: #ffffff;
  --tw-prose-pre-code: #ffffff;
  --tw-prose-pre-bg: #000000;
  --tw-prose-th-borders: #ffffff;
  --tw-prose-td-borders: #ffffff;
}

@layer prose-m-none {
  * {
    @apply prose-headings:m-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
